.register {
  padding: 100px 15px 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.register h4 {
  margin-bottom: 40px;
  color: tomato;
  font-weight: bold;
}

.register-box {
  width: 100%;
  max-width: 400px;
}

.form-group input {
  height: 45px;
  outline: none;
  border: 1px solid #999;
  margin-bottom: 10px;
}

.register-box button {
  height: 50px;
  border: none;
  outline: none !important;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  background: rgb(184, 12, 12);
}

.register-box button:hover {
  color: #fff;
}
